body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* GENERAL */

.view {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 800px;
}

/* INTRO */
.intro-view {

}
.intro-view img {
    float: right;
}

/* AIRPORT STATE */

.airport-view {

}

.airport-view .world-map {
    position: relative;
    min-height: 800px;
    background-image: url('/assets/world-map.png');
    background-size: 1280px;
    background-repeat: no-repeat;
}

.airport-view .world-map .pin {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: yellow;
}
.airport-view .world-map .pin.current {
    background-color: red;
}

.airport-view .world-map .tip {
}

/* CITY STATE */

.city-view {
    background-image: url('/assets/New_York_skyline.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    min-height: 800px;
    position: relative;
}
.city-view .title {
    font-size: 46pt;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 50px;
    left: 150px;
}
.city-view .options {
    background-color: #fff;
    opacity: 0.6;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 200px;
    left: 150px;
}
.city-view .options p,
.city-view .options li {
    font-size: 16pt;
    list-style: none;
}

/* LOCATION STATE */
.location-view {
    background-image: url('assets/New_York_skyline.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    min-height: 800px;
    position: relative;
}
.location-view .title {
    font-size: 46pt;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 50px;
    left: 150px;
}
.location-view .options {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    width: 300px;
    top: 200px;
    left: 150px;
}
.location-view .options p,
.location-view .options li {
    font-size: 16pt;
    list-style: none;
}
.location-view .location {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 200px;
    left: 650px;
    width: 250px;
}
.location-view .location img {
    width: 100%;
}
