<img style="width:100%; position: relative;" src="/assets/intro-background.jpg"/>
<div class="view intro-view" style="font-size:18px; margin-left: 50px; margin-top:50px; position:absolute; top: 0px;">
    <div style=" background-color: #FFFFFF; width:800px;opacity: 0.8;border-radius: 10px; padding: 10px;">
        <p>
            Sherlock, er is een serieuze roof gepleegd en je hulp is hard nodig.
        </p>
        <p>
            De beroemde kunstrover Albertus Jodokus Coerdes heeft het volgende voorwerp weten te stelen:
        </p>

        <p style="padding: 25px;">
            {artifact.description}
        </p>
        <p>
            Reis de hele werld af als het moet, maar zorg dat je dit waardevolle voorwerp terug vind. Je hebt 1 week voordat het weer op expositie moet.
        </p>

        <p>
            <a class="go">Je start in <span style="font-weigth:bold; font-size:20px;">{city.name}</span>, veel succes!</a>
        </p>
    </div>
    <img style="float:right;width: 300px; top: 0px; margin-right:50px; position: absolute; right: 25px;" src="/assets/{artifact.image}" />
</div>
