<img style="width:100%; position: relative;" src="http://yormeij.github.com/whereonearth/assets/intro-background.jpg"/>
<div class="view intro-view" style="font-size:18px; margin-left: 50px; margin-top:50px; position:absolute; top: 0px;">
    <div style=" background-color: #FFFFFF; width:800px;opacity: 0.8;border-radius: 10px; padding: 10px;">
        <p>
            Sherlock, er is een kunstroof gepleegd en je hulp is hard nodig.
        </p>
        <p>
            De beroemde kunstrover Albertus Jodokus Coerdes heeft het voorwerp hier rechts weten te stelen. Misschien heb je nog wat aan de beschrijving hieronder:
        </p>

        <p style="padding: 25px;">
            {artifact.description}
        </p>
        <p>
            Reis de hele werld af als het moet, maar zorg dat je dit waardevolle voorwerp terug vind. Je hebt 1 week voordat het weer op expositie moet. <strong>Oh een tip: lees eerst even de spelregels door.</strong>
        </p>

        <p>
            <a class="go">Coerdes is het laatst gezien in <span style="font-weigth:bold; font-size:20px;">{city.name}</span>, dus waar wacht je nog op? En Sherlock, veel succes! Je gaat het nodig hebben.</a>
        </p>
    </div>
    <img style="float:right;width: 300px; top: 0px; margin-right:50px; position: absolute; right: 25px;" src="http://yormeij.github.com/whereonearth/assets/{artifact.image}" />
    <div class="Credits">
        <h4>Credits</h4>
        <ul>
            <li><span class="credit-name">Mattijs Hoitink</span> --> Hoofdprogrammeur</li>
            <li><span class="credit-name">Jeroen Tietema</span>  --> Designer en programmeur</li>
            <li><span class="credit-name">Yoram Meijaard</span>  --> Tekstschrijver, loopjongen en manusje van alles</li>
            <br/>
            <li>Verder willen we de Open Cultuur Data datasets bedanken voor de gestolen voorwerpen. En natuurlijk ook de Flickr databank voor de foto's van alle steden en locaties.<li>
        </ul>
    </div>
    <div class="rules">
        <h4>Spelregels en tips!</h4>
        <ul>
            <li>Als je Coerdes wil pakken moet je 4 keer de goede stad kiezen.</li>
            <li>Maar als je het in één keer goed doet is dit één keer minder, omdat je dan al heel dicht achter coerdes zit.</li>
            <li>Als je wint kom je direct weer terug bij dit scherm. Dus schrik er niet van, het hoort ;-)</li>
            <li>Nog één tip: je kan beter zeker weten waar je heen gaat dan dat je dat fout doet.    </li>
        </ul>
    </div>
</div>
