<img style="width:100%; position: relative;" src="/assets/intro-background.jpg"/>
<div class="view intro-view" style="font-size:18px; margin-left: 50px; margin-top:50px; position:absolute; top: 0px;">
    <div style=" background-color: #FFFFFF; width:800px;opacity: 0.8;border-radius: 10px; padding: 10px;">
        <h1>Je hebt gewonnen!</h1>
        <p>
            Sherlock <span class="amazing">GEWELDIG GEDAAN!</span>! Je hebt Coerdes gevangen én het gestolen voorwerp weer terug gebracht. Je hebt je reputatie weer eens waar gemaakt.
        </p>
        <p>
            Hopelijk is het niet meer nodig maar als dat wel zo is weten we je te vinden,
        </p>
    </div>
    <div class="Credits">
        <h4>Credits</h4>
        <ul>
            <li><span class="credit-name">Mattijs Hoitink</span> --> Hoofdprogrammeur</li>
            <li><span class="credit-name">Jeroen Tietema</span>  --> Designer en programmeur</li>
            <li><span class="credit-name">Yoram Meijaard</span>  --> Tekstschrijver, loopjongen en manusje van alles</li>
            <br/>
            <li>Verder willen we de Open Cultuur Data datasets bedanken voor de gestolen voorwerpen. En natuurlijk ook de Flickr databank voor de foto's van alle steden en locaties.<li>
        </ul>
    </div>
</div>
